.btn .btn-success{
  margin-right: 1px;
  margin-top : 20px;
  margin-bottom : 20px;
  border-radius: 25px;
}
/**********************************************
MATHS
**********************************************/
/* addition posee*/
#titre{
  color: #569ef6;
  font-size: 60px;
}

#intitule{
  border: solid 2px #007065;
  color: #007065;
  padding: 2px;
}
#check{
  color:white; 
  font-weight: bold; 
  background-color: #007065 !important;
  border: #007065;
}

/**********************************************
HISTOIRE
**********************************************/
#renaissance {
  padding: 1rem;
  text-align: center;
  border-bottom-width: : 25px;
  border-color: black;


}

#accueil h3 {
  color: #009999;
  font-size: 20px;/*5rem*/
  padding-bottom:2rem;
}


/*ANIMATION QUESTION*/
.slidein {
  animation-duration: 3s;
  animation-name: slidein;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

p {
  animation-duration: 3s;
  animation-name: slidein;
}

.container_renaissance{
  overflow:hidden
}

/*********************/
/* anglais couleurs*/
#blue{
  border : solid 2px blue;
  background-color: blue; 
  height: 100px;
  width:100px;
  margin: 2px;
}
#red{
  border : solid 2px red;
  background-color: red; 
  margin: 2px;
  height: 100px;
  width:100px;
}
#green{
  border : solid 2px green;
  background-color: green; 
  margin: 2px;
  height: 100px;
  width:100px;
}
#white{
  border : solid 2px #fff;
  background-color: #fff; 
  margin: 2px;
  height: 100px;
  width:100px;
}
#dark{
  border : solid 2px #000;
  background-color: #000; 
  margin: 2px;
  width:100px;
}
#yellow{
  border : solid 2px yellow;
  background-color: yellow;
  margin: 2px; 
  height: 100px;
  width:100px;
}
.colorName{
  background-color: #fff;
  margin : 2px;
}