@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
  font-family: "Open Sans";
  margin: 0 auto;
}

/*ACCUEIL _ CONNEXION*/
#accueil h1{
  color : #F64754;
  } 

.font-weight-light{
  font-size: 1.5rem;
}


input {
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem;
  border: 2px solid #009999;
  font-size: 1.5rem;
  font-weight: 200;
}

#valider {
	background-color: #009999;
	color: #fff;
	border: none;
  opacity: 0.8;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem;
  font-size: 1.5rem;
  font-weight: 600;
}

button:hover {
    cursor: pointer ;
    background-color: lighten(#009999,10%);
  }


/*maths-------- additions*/
.addition{
  border: solid 5px #009999;
  border-radius: 1rem;
  background-color: #009999;
  opacity: 0.8;
  padding : 2rem;
  color: #fff;
  font-weight: 800;

}

#number{
  border: solid 1px grey;
}

/*queston*/
.question{
  margin-top: 20px;
}

/***************************************************************
/*FRANCAIS*/
/***************************************************************/
#conjugaison{
  margin-top: 40px;
}
.bloc{
  border: 1px solid black;
  margin-right :10px;
}
/***************************************************************
/*RENAISSANCE*/
/***************************************************************/
#renaissance {
  padding: 1rem;
  text-align: center;

}

#accueil_renaissance h3 {
  color: #009999;
  font-size: 5rem;
  padding-bottom:2rem;
}

/*A voir*/
#questionnaire_renaissance p{
  color: white;
  font-size: 3rem;
}
/*progress bar*/
.bar {
  height : 25%;
  border: solid black 10px;
}
/*A voir*/
.img-fluid{
  max-width: 5%;
}
/*A voir*/
.btn-primary{
  border: solid 1px #009999;
  background-color: #009999;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: lighten(#009999,10%);
  }

.btn-primary a {
     text-decoration: none;
     font-weight: 300;
     color: lighten(#009999, 25%);
  }
      
a:hover {
      text-decoration: underline;
   }

/***************************************************************
/*FUTUR*/
/***************************************************************/

#futur_premier_groupe{
  margin-bottom: 25px;
}


/*********essai animation déséquilibre****/
animate.span{
  display: block;
  position: relative;
  text-align : center;
}

animate backwards > span{
  animation:animateBackwards 1s ease-in-out forwards;
}

animate forwards > span{
  animation:animateforwards 1s ease-in-out forwards;
}

animate mixed > span:nth-child(odd){
  animation:animateForwards 1s ease-in-out forwards;
}

@keyFrames animateForwards {
  from { top 0; transform : rotate(0deg); }
  to { top .9em; transform : rotate(25deg); }
}

