@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
  font-family: "Open Sans";
  background-color: : #009999;
  margin: 0 auto;
}

/*input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}*/

.container-fluid{

  background-color: #009999;
  background-position: center;
  background-size: cover;
  padding: 1rem 0rem 6rem 0rem;
  box-shadow: 0em -4em 8em -4em rgba(0,0,0,0.5) inset;
  border-bottom: 0.3rem solid darken($primaryColour,10%);
}

.brief {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin: 2rem 0rem 0rem;
  }

  .brief h1 {
    font-size: 8rem;
    margin: 0rem;
  }

#formulaire{
	/*width: 40%;*/
	margin-top : -2rem;

}

form {
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;

}

input {
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem;
  border: 2px solid #009999;
  font-size: 1.5rem;
  font-weight: 200;
}

#valider {
	background-color: #009999;
	color: #fff;
	border: none;
  opacity: 0.8;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.15rem;
  font-size: 1.5rem;
  font-weight: 600;
}

button:hover {
    cursor: pointer : ;
    background-color: lighten(#009999,10%);
  }

a {
     text-decoration: none;
     font-weight: 300;
     color: lighten($primaryColour, 25%);
  }
      
a:hover {
      text-decoration: underline;
   }
    

/*ACCUEIL*/
#accueil h1 {
  color: #009999;
  font-size: 5rem;
  padding-bottom:2rem;
}

#accueil p{
  text-align: center;
  color: #009999;
  font-size: 2rem;
  padding-right: 4rem;
}

#accueil .row{
  padding-bottom:4rem;
}

img{
  padding-right: 4rem;
}

/*maths/additions*/
.addition{
  border: solid 5px #009999;
  border-radius: 1rem;
  background-color: #009999;
  opacity: 0.8;
  padding : 2rem;
  color: #fff;
  font-weight: 800;

}
#number{
  border: solid 1px grey;
}

/*queston*/
.question{
  margin-top: 20px;
}

/***************************************************************
/*RENAISSANCE*/
/***************************************************************/
#renaissance {
  padding: 1rem;
  text-align: center;

}
/*progress bar*/
.bar {
  height : 25%;
  border: solid black 10px;
}